<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androiddev.artemqa.gototrip">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.AppGoToTrip"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".modules.login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.register.view.RegisterActivity" />
        <activity
            android:name=".modules.main.view.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".modules.editProfile.view.EditProfileActivity" />
        <activity android:name=".modules.search.view.SearchActivity" />
        <activity android:name=".modules.viewProfile.view.ViewProfileActivity" />
        <activity android:name=".modules.dialog.view.DialogActivity" />
        <activity android:name=".modules.chat.view.ChatActivity" />
        <activity android:name=".modules.listUsers.view.ListUsersActivity" />
        <activity android:name=".modules.newPost.view.NewPostActivity" />
        <activity android:name=".modules.listPosts.view.ListPostsActivity"></activity>
    </application>

</manifest>